html body {
  background-color: #F9F9F9;
  color: #212121;
  overflow: hidden;
  text-rendering: optimizelegibility;
  font-family: "RobotoDraft","Roboto",sans-serif;
  font-size: 1em;
  line-height: 1em;
}

* {
  box-sizing: border-box;
}

.page {
  padding-top: 64px;
}

.page header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  left: 0px;
  right: 0px;
  top: -192px;
  z-index: 1;
  position: fixed;
}

header {
  height: 256px;
  padding: 115px 16px 0px;
  background-color: #03A9F4;
}

.header-wrapper {
  height: 64px;
  left: 72px;
  right: 72px;
  top: 0px;
  z-index: 2;
  position: fixed;
}

.header-title {
  font-size: 24px;
  line-height: 64px;
  width: 100%;
}

/** Generic Fonts */
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), url("https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-Vwf79_ZuUxCigM2DespTnFaw.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff") format("woff");
}

@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoDraft"), local("RobotoDraft-Regular"), url("https://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni4gp9Q8gbYrhqGlRav_IXfk.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff") format("woff");
}

@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), url("https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwXJuJo8UJJfpGKt7pXjBv4s.woff2") format("woff2"), url("https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff") format("woff");
}
