.hamburger-drawer {
  background: none no-repeat scroll center center / 24px 24px transparent;
  background-image: url("../images/hamburger-drawer.svg");
  left: 12px;
  border: 0px none;
  display: block;
  height: 48px;
  overflow: hidden;
  text-indent: -9999px;
  top: 8px;
  width: 48px;
  z-index: 2;
  position: fixed;
}

button.hamburger-drawer {
  color: inherit;
  font: inherit;
  margin: 0px;
  text-transform: none;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  -moz-appearance: none;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}

.side-nav-div {
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  bottom: 0px;
  background: none repeat scroll 0% 0% #FFF;
  color: #333;
  display: block;
  font-family: "RobotoDraft","Roboto",sans-serif;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 240px;
  z-index: 4;
  transform: translateZ(0px);
  transform: translateX(-240px);
  transform-style: preserve-3d;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-241px);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
}

.side-nav-div.drawer-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.side-nav-wrapper {
    min-height: 100%;
    padding-bottom: 96px;
    position: relative;
}

#side-nav #avatar {
    border-bottom: 1px solid #E0E0E0;
    display: block;
    height: 64px;
    margin: auto;
    padding: 12px 24px 10px;
    position: relative;
}

#side-nav #avatar #avatar-img {
  background-image: url("../images/avatar.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  float: left;
}

#side-nav #avatar span {
  vertical-align: middle;
  line-height: 48px;
  text-align: center;
}

#side-nav .legal {
  border-top: 1px solid #e0e0e0;
  bottom: 0;
  color: #212121;
  font-size: 13px;
  height: 96px;
  line-height: 24px;
  padding: 24px;
  position: absolute;
  width: 100%;
}

a {
  color: #0277bb;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  background: transparent;
}

#side-nav .copyright {
  margin: 0;
  display: block;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#side-nav nav {
  font-size: 13px;
  padding: 12px 0 10px 0;
  transform: translateZ(0);
}

#side-nav nav dl {
  margin-top: 0;
}

dl {
  line-height: 1em;
  margin-bottom: 0.5em;
}

#side-nav nav dl dt {
  border-left: 2px solid transparent;
  color: #333;
  font-weight: 700;
  margin-top: 0;
  padding: 15px 0 15px 22px;
}

.modal-div-mask {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  opacity: 0.1;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 3;
  position: fixed;
  -webkit-transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.modal-div-mask.mdm-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
